<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Query configuration for SUNMI AIDL Printer Service in Android 11+ -->
    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />
        <intent>
            <action android:name="woyou.aidlservice.jiuiv5.IWoyouService" />
        </intent>
        <package android:name="woyou.aidlinterface.retrofit" />
        <intent>
            <action android:name="woyou.aidlinterface.retrofit.IWoyouService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
